.sun-editor {
   border: 2px solid hsl(var(--border));
   border-radius: 6px;
   background: hsl(var(--background));
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* The background in the sun-editor can act as the border for the se-btn-tray and also for the se-resizing-bar. */
.sun-editor .se-btn-tray {
   /* border-right: 1px solid hsl(var(--border)); */
   border-bottom: 2px solid hsl(var(--border));
}

.sun-editor .se-toolbar {
   background-color: hsl(var(--background));
   outline: 0px;
}

.sun-editor button {
   color: hsl(var(--foreground));
}

.sun-editor .se-btn:enabled.active {
   color: hsl(var(--primary-foreground));
   background: hsl(var(--primary));
}

.sun-editor .se-btn:enabled:focus,
.sun-editor .se-btn:enabled:hover {
   background-color: hsl(var(--primary));
   color: hsl(var(--primary-foreground));
   border-color: transparent;
}

.sun-editor .se-btn:enabled.active:focus, .sun-editor .se-btn:enabled.active:hover {
   background-color: hsl(var(--primary));
   border-color: transparent;
   opacity: 0.95;
}

.sun-editor .se-wrapper .se-placeholder {
   color: hsl(var(--secondary-foreground));
   opacity: 0.7;
   font-family: "Roboto", Sans-Serif;
   letter-spacing: 0.5px;
}

.sun-editor-editable {
   font-family: "Roboto", Sans-Serif;
   font-size: 14px;
   color: hsl(var(--foreground));
   background-color: hsl(var(--background));
}

.sun-editor .se-resizing-bar {
   border-top: 2px solid hsl(var(--border));
   background-color: hsl(var(--background));
}

.sun-editor .se-resizing-bar .se-navigation {
   color: hsl(var(--accent-foreground));
   background: transparent;
   opacity: 0.7;
}

/* The SIZE */
.sun-editor .se-btn:enabled.on {
   background-color:  hsl(var(--primary));
   color: hsl(var(--primary-foreground));
   border-color: hsl(var(--border));
}

.sun-editor .se-btn:enabled.on:focus, .sun-editor .se-btn:enabled.on:hover {
   background-color: hsl(var(--primary));
   color: hsl(var(--primary-foreground));
   border-color: transparent;
   opacity: 0.95;
}

.sun-editor .se-list-layer {
   border: 1px solid hsl(var(--border));
   background-color: hsl(var(--background));
   box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* Active Dropdown Option */
.sun-editor .se-btn-list.default_value {
   background-color: hsl(var(--secondary));
   border-top: 1px dotted hsl(var(--border));
   border-bottom: 1px dotted hsl(var(--border));
}

.sun-editor .se-btn-list.default_value:hover {
   opacity: 0.95;
}

.sun-editor .se-btn-list:hover {
   background-color: hsl(var(--secondary));
}

.sun-editor .se-list-inner .se-list-basic li button.active {
   background-color: hsl(var(--secondary));
   border: 1px solid hsl(var(--border));
}

.sun-editor .se-list-inner .se-list-basic li button.active:hover {
   background-color: hsl(var(--secondary));
   border: 1px solid hsl(var(--border));
   opacity: 0.75;
}

/* This is for when you click on the q like button and then bordered */
.sun-editor-editable .__se__p-bordered, .sun-editor .__se__p-bordered {
   /* border-top: 1px solid hsl(var(--border));
   border-bottom: 1px solid hsl(var(--border)); */
}